

:root {
  --text: #35313a;
  --text-h: #141316;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(85, 61, 61, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Aptos, sans-serif;
  --heading: system-ui, 'Segoe UI', Aptos, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}


body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
h3 {
  font-size: 18px;
  font-style: italic;
  font-weight: 100px;
}
p {
  margin: 0;
}



#main {
  display: block;
  flex-direction: column;
  gap: 25px;
  place-content: left;
  place-items: left;
  flex-grow: 1;
  text-align: left;
  

  @media (max-width: 2048px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#info { 
  /* placeholder */
  display: none;
  flex-direction: column;
  gap: 25px;
  place-content: left;
  place-items: left;
  flex-grow: 1;
  text-align: left;

  @media (max-width: 2048px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}


#next-steps {
  display: flex;
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}


#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;
  width: 100%;         
  justify-content: space-between; 

  a {
    color: var(--text);
    font-size: 16px;
    border-radius: 6px;
    background: #d3d3d3;
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
  }

  @media (max-width: 2048px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}


#cont {
  display: flex;
  align-items: flex-start;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

#cont-left {
  flex: 0 0 70%;
}

#cont-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#game-board {
  display: block;
}

.drop-btn {
  overflow: hidden;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}

.drop-cont {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.35s ease;
  margin-bottom: 10px;
  font-weight: 300;
}


.drop-list {
  list-style: none;
  padding: 0;
  margin: 0; 
}
